<!DOCTYPE html>
<html lang="en" ng-app="NewsFlashApp">
<head>
    <meta charset="UTF-8">
    <title>News Flash</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="newsflash.js"></script>
</head>
<body ng-controller="NFCtrl">

Name: <input type="text" size="30" ng-model="name" placeholder="Your name">
<br>
<textarea cols="50" rows="10" placeholder="Your comment" ng-model="comment"></textarea>
<br>
<button type="submit" ng-click="postComment()">Post</button>




</body>
</html>